<app-header></app-header>

<div *ngIf="moto">
    <h1>{{ moto.nome }}</h1>
    <img src="{{ moto.imagem }}" alt="">
    <h2>Descrição da moto:</h2>
    <p>{{ moto.descricao }}</p>
    <h3>Preço sugerido:  {{ moto.precoSugerido | currency : 'R$'}}</h3>
    <h3>Fabricante: {{ moto.fabricante | uppercase}}</h3>
    <h3>Cilindradas: {{ moto.cilindrada }}cc</h3>
</div>

<p *ngIf="user">Comentário</p>

<input *ngIf="user" type="text" name="comentario" placeholder="Deixe seu comentário!">

<app-footer></app-footer>
